body {
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
    background-color: #fffef4;
    padding-bottom: 1%;
}
/* remember to add profile*/

h1{
    margin-top: 7%;
    font-size: 200%;
}

.overlay {
    max-width: 82%;
    position: absolute;
    left: 5%;
    top:16%;
    animation: float 3s ease-in-out infinite;
}

  @keyframes float {
    0% {
        transform: translateY(0);
    }
  
    50% {
        transform: translateY(-2%);
    }
  
    100% {
        transform: translateY(0);
    }
}

.red {
    background-color:#fa727b;
    padding-top: 2%;
    padding-bottom: 3%;
}

.pgtitle {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
}

button {
    margin-top: 0%;
    margin-left: 40%;
    padding: 16px 24px;
    border-radius: 50px;
    font-size: 24px;
    cursor: pointer;
    color: #8f5d46;
    background-color: #ffc24a;
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    border-style: none;
    box-shadow: 0px 0px 10px 0px #f95f69;
}

button:hover {
    background-color: lemonchiffon;
    color: #a96e53;
    transition: all 0.2s ease-in-out;
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    display: block;
    margin: 5px;
}

.directions {
    margin-left: 6%; 
    margin-right: 6%;
    margin-top: 1.5%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    font-size: 36px;
    color: lemonchiffon;
}

.d2 {
    font-weight: normal;
    color: #fffef4;
    font-size: 30px;
    margin-bottom: -1%;
}

.question {
    line-height: 10%;
    margin-left: 6%; 
    margin-right: 6%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    font-size: 30px;
    color: #8f5d46;
    background-color:#fffef4;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px #f94c58;
}
.options label {
    margin-top: 1.5%;
    display: block;
    margin-left: 20px;
    font-size: 24px;
    cursor: pointer;
    font-weight: normal;
}
#result, #all-pairings {
    font-size: 200%;
    padding-left: 5%;
    color: #8f5d46;
    display: block;
    position:sticky;
    bottom: 0;
    line-height: 300%;
    background-color: #fffef4;
}

.hidden {
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: lemonchiffon;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #ffc24a;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #fa727b;
  }